body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #D5F8F2;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color:#009A9C;
    color: #D5F8F2;
    padding: 10px 0;
    align-items: center;
}
main{
    padding: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 100px; 
  width: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #D5F8F2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
nav a:hover {
  color: #000000; 
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #009A9C;
    color:#D5F8F2;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}   
    