body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #D5F8F2;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background-color:#009A9C;
    color: #D5F8F2;
    padding: 10px 0;
    align-items: center;
}
main {
  flex: 1;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 100px; 
  width: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #D5F8F2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
nav a:hover {
  color: #000000; 
}
   

/* footer*/

footer {
  background-color: #009A9C;;
  color: #D5F8F2;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}


.footer-enlaces {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-enlaces a {
  color: #D5F8F2;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-enlaces a:hover {
  color: #000000;
}

.footer-redes a {
  color: #D5F8F2;
  margin: 0 8px;
  font-size: 1.3rem;
  transition: color 0.3s;
}

.footer-redes a:hover {
  color: #000000;
}

@media (max-width: 768px) {
  .footer-contenido {
    flex-direction: column;
    gap: 15px;
  }
}