/* Entrevista - Estilo general */
.interview-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 60px 5%; 
  width: 90%; 
  text-align: left; 
  gap: 20px; 
}

/* Imagen - Ajuste de tama침o */
.interview-image-wrapper {
  flex: 0 1 330px; /* Ajustamos el tama침o de la imagen */
  display: flex;
  justify-content: center;
}

.interview-image {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.35);
}

/* Texto de la entrevista */
.interview-text {
  flex: 1;
  max-width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.interview-text h3 {
  font-size: 5vh;
  color: #eaeaea;
  margin-bottom: 10px;
}

.interview-text p {
  font-size: 3.5vh;
  line-height: 1.6;
  color: #cfcfcf;
  margin-bottom: 20px;
}

/* Alineaci칩n izquierda (impares) */
.interview-item.left {
  flex-direction: row;
}

/* Alineaci칩n derecha (pares) */
.interview-item.right {
  flex-direction: row-reverse;
}

/* Responsive */
@media (max-width: 800px) {
  .interview-item {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
