

#scroll-text {
  text-align: center;
  padding: 5vh;
}

#scroll-text span {
  color: rgba(240, 240, 240, 0.2);
  background-image: linear-gradient(90deg, #36f4bb, #036861);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: scroll-text linear forwards;
  animation-timeline: view();
}


#scroll-text p span {
  animation-range-start: cover 26vh;
  animation-range-end: cover 65vh;
}


@keyframes scroll-text {
  to {
    background-size: 100% 100%;
  }
}
