
.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1e1e24;
  border-bottom: 2px solid #cedc00;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.navbar-right {
  display: flex;
  gap: 30px; 
}

.navbar-right a {
  color: #f0f0f0;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}

.navbar-right a:hover {
  color: #cedc00;
}