.problem-charts {
  width: 100%;
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 12%;
  background-color: #1e1e24;
}

.section-title {
  color: #eaeaea;
  text-align: center;
  margin-bottom: 30px;
}

.charts-container {
  width: 100%;
  max-width: 800px; /* Máximo tamaño del gráfico */
}

.chart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  background-color: #2a2a2e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
